.other-events-container {
  align-self: center;
  text-align: justify;
  width: 800px;
  flex-flow: column;
}

.other-events-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.other-events-top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.other-events-left, .other-events-right { }

.other-events-description { font-size: 13px; }

.other-events-text-container { text-align: left; }

.other-events-visible-under-820-only, .other-events-visible-under-620-only { display: none; }

.other-events-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-events-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

@media(max-width: 820px) {
  .other-events-container{ width: 600px; }
  .other-events-line{ width: 600px; }
  .other-events-right-column{ width: 111px; }
  .other-events-visible-under-820-only { display: block; }
}

@media(max-width: 620px) {
  .other-events-container{ width: 400px; }
  .other-events-line{ width: 400px; }
  .other-events-left-column{ width: 279px;}
  .other-events-right-column{ width: 111px;}
  .other-events-visible-under-620-only { display: block; }
}

@media (max-width: 420px) {
  .other-events-container { width: 350px; font-size: 14px; }
  .other-events-right-column{ width: 104px;}
  .other-events-left-column{ width: 236px;}
  .other-events-line{ width: 350px; }
  .other-events-description{ font-size: 12px; }
}
