<table class="other-events-table">
  <!--  region Lancaster Tournament  -->
  <tr>
    <td class="other-events-left-column">
      <b>Lancaster tournament</b>,
      <em><a class="link" href="https://lancastersu.co.uk/groups/lancaster-go-club" target="_blank">Lancaster Go Club</a></em>
    </td>
    <td class="other-events-right-column">2022 - 2023</td>
  </tr>
  <tr>
    <td colspan="2" class="description">
      In charge of: booking venue, advertising event, researching nearby accommodation and means of transport, preparing prizes, providing refreshments, managing finances and performing any further activities needed on the day of the event.
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-events-line"><td colspan="2"><div class="other-events-division"></div></td></tr>

  <!--  region Three Peaks  -->
  <tr>
    <td class="other-events-left-column">
      <b>Three Peaks tournament</b>,
      <em><a class="link" href="https://www.britgo.org/" target="_blank">British Go Association</a></em>
    </td>
    <td class="other-events-right-column">2023</td>
  </tr>
  <tr>
    <td colspan="2" class="description">
      In charge of: registering participants, prepare draws and announce prizes.
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-events-line"><td colspan="2"><div class="other-events-division"></div></td></tr>

  <!--  region PG forum  -->
  <tr>
    <td class="other-events-left-column">
      <b>Pure Maths Post Graduate forum</b>,
      <em><a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a></em>
    </td>
    <td class="other-events-right-column">2022 - 2023</td>
  </tr>
  <tr>
    <td colspan="2" class="description">
      In charge of: finding speakers, advertising event and providing refreshments.
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-events-line"><td colspan="2"><div class="other-events-division"></div></td></tr>

  <!--  region British Open  -->
  <tr>
    <td class="other-events-left-column">
      <b>British Open</b>,
      <em><a class="link" href="https://www.britgo.org/" target="_blank">British Go Association</a></em>
    </td>
    <td class="other-events-right-column">2022</td>
  </tr>
  <tr>
    <td colspan="2" class="description">
      In charge of: finding venue, researching nearby accommodation and means of transport and managing registration.
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-events-line"><td colspan="2"><div class="other-events-division"></div></td></tr>

  <!--  region Geometric uses of Persistent Homology forum  -->
  <tr>
    <td class="other-events-left-column">
      <b>Geometric Uses of Persistent Homology</b>,
      <em><a class="link" href="https://web.ub.edu/" target="_blank">Universitat de Barcelona</a></em>
    </td>
    <td class="other-events-right-column">2019 - 2020</td>
  </tr>
  <tr>
    <td colspan="2" class="description">
      In charge of advertising event.
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-events-line"><td colspan="2"><div class="other-events-division"></div></td></tr>

  <!--  region Dissabtes de les Matemàtiques forum  -->
  <tr>
    <td class="other-events-left-column">
      <b>Dissabtes de les Matemàtiques</b>,
      <em><a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a></em>
    </td>
    <td class="other-events-right-column">2016 - 2017</td>
  </tr>
  <tr>
    <td colspan="2" class="description">
      In charge of: organizing volunteers, providing refreshments and assisting in the preparation of the workshops.
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-events-line"><td colspan="2"><div class="other-events-division"></div></td></tr>

</table>
