<div class="other-main-container">

  <h1>Other positions</h1>
  <app-other-jobs class="other-jobs-container"></app-other-jobs>

  <h1>Events organized</h1>
  <app-events class="other-events-container"></app-events>

  <h1>Awards</h1>
  <app-awards class="other-awards-container"></app-awards>

  <h1>Additional training</h1>
  <app-training class="other-training-container"></app-training>

  <h1>Additional skills</h1>
  <app-skills class="other-skills-container"></app-skills>

  <h1>EDI statement</h1>
  <app-edi class="edi-statement"></app-edi>
</div>
