.other-main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 10pt;*/
  text-align: center;
}

.other-jobs-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.other-events-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.other-awards-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.other-training-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.other-skills-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.edi-statement {
  align-self: center;
  text-align: justify;
}

.others-title {}

@media (max-width: 420px) {
  .others-title { font-size: xx-large; }
}
