.other-main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 10pt;*/
  text-align: center;
}

.other-jobs-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
  font-size: 15px;
}

.other-events-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
  font-size: 15px;
}

.other-awards-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
  font-size: 15px;
}

.other-training-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
  font-size: 15px;
}

.other-skills-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
  font-size: 15px;
}

.edi-statement {
  align-self: center;
  text-align: justify;
  width: 800px;
  font-size: 15px;
  /*padding-bottom: 20pt;*/
}

.others-title {}

@media (max-width: 820px) {
  .other-training-container { width: 600px; }
  .other-events-container { width: 600px; }
  .other-awards-container { width: 600px; }
  .other-training-container { width: 600px; }
  .other-skills-container { width: 600px; }
  .edi-statement { width: 600px; }
}

@media (max-width: 620px) {
  .other-training-container { width: 400px; }
  .other-events-container { width: 400px; }
  .other-awards-container { width: 400px; }
  .other-training-container { width: 400px; }
  .other-skills-container { width: 400px; }
  .edi-statement { width: 400px; }
}

@media (max-width: 420px) {
  .other-training-container { width: 350px; font-size: 14px; }
  .other-events-container { width: 350px; font-size: 14px; }
  .other-awards-container { width: 350px; font-size: 14px; }
  .other-training-container { width: 350px; font-size: 14px; }
  .other-skills-container { width: 350px; font-size: 14px; }
  .edi-statement { width: 350px; font-size: 14px; }
  .others-title { font-size: xx-large; }
}
