<div>
  <!--  region Coding  -->
  <div class="skill">
    Besides the ones obtained by the above mentioned courses I have extensive coding skills that I have obtained through
    self study. These skill include experience programming with <b>Python</b>, <b>R</b>, <b>C</b>, <b>Java</b>,
    <b>Angular</b> and <b>GAP</b>. I have used these skills in the past to: create a computer simulation currently used for teaching
    purposes in physics classes in the Universitat Autònoma de Barcelona, develop image and language processing neural
    networks, develop multiple webpages (including the current one) for personal or common use, automate a variety of
    tedious tasks such as for example group assignment in workshops and many others. You can see some of my projects
    in my <a class="link" href="https://github.com/PraderioM" target="_blank">GitHub</a> page.
  </div>
  <!-- endregion -->
  <div class="publication-separator">
    <div class="publications-line"></div>
  </div>

  <!--  region Languages  -->
  <div class="skill">
    I am fluent in <b>English</b>, <b>Spanish</b>, <b>Italian</b> and <b>Catalan</b> and have good listening and reading level in <b>French</b> as well as basic <b>Greek</b> level.
  </div>
  <!-- endregion -->
  <div class="publication-separator">
    <div class="publications-line"></div>
  </div>
</div>
