.skills-main-container {
  width: 800px;
  font-size: 15px;
}

.skills-separator {
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

.skills-text {
  text-align: justify;
}


@media(max-width: 820px) {
  .skills-main-container{ width: 600px; }
  .skills-line{ width: 600px; }
}

@media(max-width: 620px) {
  .skills-main-container{ width: 400px; }
  .skills-line{ width: 400px; }
}

@media (max-width: 420px) {
  .skills-main-container{ width: 350px; font-size: 14px; }
  .skills-line{ width: 350px; }
}
