<div class="teaching-main-container">

  <h1 class="teaching-title">Teaching positions</h1>
  <div class="teaching-position-container">


    <!--  region Wissenschaftlicher Mitarbeiter TU Dresden  -->
    <div class="teaching-position-line">
      <span class="teaching-left">
        <b>Wissenschaftlicher Mitarbeiter</b>,
          <br class="teaching-visible-under-620-only">
        <em>TU Dresden</em>
      </span>
      <span class="teaching-right">
        <span>November 2024 - </span><br class="teaching-visible-under-820-only"><span>present</span>
      </span>
    </div>
    <div class="teaching-separator-small"></div>
    <span class="description">
      <em>Responsible for</em>: covering for main lecturer when necessary by delivering lectures (english), writing protocol during oral examinations (german and english) and marking coursework and exams (german) for the following subjects:
    </span>

    <div class="teaching-separator-small"></div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Algebra and number Theory</b>, <br class="teaching-visible-under-820-only"><em>marking only</em></span>
      <span class="teaching-small-right">Spring 2025</span>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Character Theory</b>, <br class="teaching-visible-under-820-only"><em>substitute</em></span>
      <span class="teaching-small-right">Fall 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Mathematische Methoden II</b>, <br class="teaching-visible-under-820-only"><em>marking only</em></span>
      <span class="teaching-small-right">Fall 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Mathematik für die Informatik</b>, <br class="teaching-visible-under-820-only"><em>marking only</em></span>
      <span class="teaching-small-right">Fall 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>
    <!--  endregion  -->

    <br>

    <!--  region GTA Lancaster  -->
    <div class="teaching-position-line">
      <span class="teaching-left">
        <b>Graduate Teaching assistant</b>,
          <br class="teaching-visible-under-620-only">
        <em>Lancaster University</em>
      </span>
      <span class="teaching-right">
        <span>September 2020 - </span><br class="teaching-visible-under-820-only"><span>June 2024</span>
      </span>
    </div>
    <div class="teaching-separator-small"></div>
    <span class="description">
      <em>Responsible for</em>: presiding workshops, assisting undegraduate and master students, marking courseworks and providing feedback for the following modules:
    </span>

    <div class="teaching-separator-small"></div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Number Theory</b></span>
      <span class="teaching-small-right">Spring 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Complex Analysis</b></span>
      <span class="teaching-small-right">Spring 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Geometry and Calculus</b></span>
      <span class="teaching-small-right">Springs 2021/24</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Linear Algebra</b></span>
      <span class="teaching-small-right">Springs 2020/24</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Statistics</b></span>
      <span class="teaching-small-right">Spring 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Medical Statistics</b></span>
      <span class="teaching-small-right">Autumn 2023</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Abstract Algebra</b></span>
      <span class="teaching-small-right">Autumns 2020/22/23</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Graph Theory</b></span>
      <span class="teaching-small-right">Autumn 2023</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Representation Theory of Finite Groups</b></span>
      <span class="teaching-small-right">Autumns 2020/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Commutative Algebra</b></span>
      <span class="teaching-small-right">Autumn 2022</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Linear Algebra II</b></span>
      <span class="teaching-small-right">Autumns 2020/21/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Discrete Mathematics</b></span>
      <span class="teaching-small-right">Autumns 2020/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Numbers and Relations</b></span>
      <span class="teaching-small-right">Autumns 2020/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Computational Mathematics</b></span>
      <span class="teaching-small-right">Spring 2022</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Integration and Differentiation</b></span>
      <span class="teaching-small-right">Spring 2021</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Probability II</b></span>
      <span class="teaching-small-right">Autumn 2020</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-small-left"><b>Convergence and Continuity</b></span>
      <span class="teaching-small-right">Autumn 2020</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>
    <!--  endregion  -->

  </div>

  <h1 class="teaching-title">Other teaching activities</h1>
  <div class="teaching-other-container">

    <div class="teaching-other-line">
      <span class="teaching-other-left"><b>Volunteer teacher of asylum seekers</b>, <br class="teaching-visible-under-820-only"><em>primary-school</em></span>
      <span class="teaching-other-right">2023</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>

    <div class="teaching-other-line">
      <span class="teaching-other-left"><b>Workshop instructor of "<a class="link" href="https://www.uab.cat/web/divulgacio/dissabtes-de-les-matematiques-1195630210586.html" target="_blank">Dissabtes de les matemàtiques</a>"</b>, <br class="teaching-visible-under-820-only"><em>high-school</em></span>
      <span class="teaching-other-right">2014 - 2018</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>

    <div class="teaching-other-line">
      <span class="teaching-other-left"><b>Volunteer teacher of students from disadvantaged households</b>, <br class="teaching-visible-under-820-only"><em>high-school</em></span>
      <span class="teaching-other-right">2016</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>

    <div class="teaching-other-line">
      <span class="teaching-other-left"><b>Private tutor</b>, <br class="teaching-visible-under-820-only"><em>high-school and undergraduate</em></span>
      <span class="teaching-other-right">2013 - 2016</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>
  </div>
</div>
