.teaching-main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.teaching-title {}

.teaching-position-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
}

.teaching-other-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 800px;
}

.teaching-position-line {
  width: 800px;
  display: block;
  font-size: 18px;
}

.teaching-other-line {
  width: 800px;
  display: block;
}

.teaching-course-line {
  width: 670px;
  display: block;
  align-self: center;
}

.teaching-left {
  float: left;
  text-align: left;
}

.teaching-right {
  float: right;
  text-align: right;
}

.teaching-small-left {
  float: left;
  text-align: left;
}

.teaching-small-right {
  float: right;
  text-align: right;
}

.teaching-other-left {
  float: left;
  text-align: left;
}

.teaching-other-right {
  float: right;
  text-align: right;
}

.description {
  float: left;
  text-align: justify;
}

.teaching-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teaching-separator-small {
  height: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teaching-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

.teaching-line-small {
  background-color: black;
  height: 1px;
  width: 670px;
  align-self: center;
}

.teaching-visible-under-820-only, .teaching-visible-under-620-only { display: none; }


@media (max-width: 820px) {
  .teaching-position-container { width: 600px; }
  .teaching-position-line { width: 600px; }
  .teaching-other-container { width: 600px; }
  .teaching-other-line { width: 600px; }
  .teaching-line {width: 600px; }
  .teaching-course-line { width: 500px; }
  .teaching-line-small { width: 500px; }

  .teaching-visible-under-820-only { display: block; }
}

@media (max-width: 620px) {
  .teaching-position-container { width: 400px; }
  .teaching-position-line { width: 400px; font-size: 17px; }
  .teaching-other-container { width: 400px; }
  .teaching-other-line { width: 400px; }
  .teaching-line {width: 400px; }
  .teaching-course-line { width: 350px; }
  .teaching-line-small { width: 350px; }

  .teaching-left { width: 250px;}
  .teaching-small-left { width: 200px;}
  .teaching-other-left { width: 270px;}

  .teaching-visible-under-620-only { display: block; }
  .description {font-size: 14px; }
}

@media (max-width: 420px) {
  .teaching-position-container { width: 350px; }
  .teaching-position-line { width: 350px; font-size: 15px; }
  .teaching-other-container { width: 350px; }
  .teaching-other-line { width: 350px; }
  .teaching-line {width: 350px; }
  .teaching-course-line { width: 330px; }
  .teaching-line-small { width: 330px; }

  .teaching-left { width: 220px;}

  .teaching-main-container{font-size: 14px;}
  .description {font-size: 13px; }
  .teaching-title{font-size: xx-large;}
}
