<div class="teaching-main-container">

  <h1>Teaching positions and duties</h1>
  <div class="teaching-position-container">
    <!--  region GTA Lancaster  -->
    <div class="teaching-position-line">
      <span class="teaching-left"><b>Graduate Teaching assistant</b>, <em>Lancaster University</em></span>
      <span class="teaching-right">September 2020 - June 2024</span>
    </div>
    <div class="teaching-separator-small"></div>
    <span class="description">
      <em>Responsible for</em>: presiding workshops, assisting undegraduate and master students, marking courseworks and providing feedback for the following modules:
    </span>

    <div class="teaching-separator-small"></div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Number Theory</b>, <em>third year</em></span>
      <span class="teaching-right">Spring 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Complex Analysis</b>, <em>second year</em></span>
      <span class="teaching-right">Spring 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Geometry and Calculus</b>, <em>first year</em></span>
      <span class="teaching-right">Springs 2021/24</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Linear Algebra</b>, <em>first year</em></span>
      <span class="teaching-right">Springs 2020/24</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Statistics</b>, <em>first year</em></span>
      <span class="teaching-right">Spring 2024</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Medical Statistics</b>, <em>third year</em></span>
      <span class="teaching-right">Autumn 2023</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Abstract Algebra</b>, <em>second year</em></span>
      <span class="teaching-right">Autumns 2020/22/23</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Graph Theory</b>, <em>third year</em></span>
      <span class="teaching-right">Autumn 2023</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Representation Theory of Finite Groups</b>, <em>third year and master</em></span>
      <span class="teaching-right">Autumns 2020/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Commutative Algebra</b>, <em>third year</em></span>
      <span class="teaching-right">Autumn 2022</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Linear Algebra II</b>, <em>second year</em></span>
      <span class="teaching-right">Autumns 2020/21/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Discrete Mathematics</b>, <em>first year</em></span>
      <span class="teaching-right">Autumns 2020/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Numbers and Relations</b>, <em>first year</em></span>
      <span class="teaching-right">Autumns 2020/22</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Computational Mathematics</b>, <em>second year</em></span>
      <span class="teaching-right">Spring 2022</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Integration and Differentiation</b>, <em>first year</em></span>
      <span class="teaching-right">Spring 2021</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Probability II</b>, <em>second year</em></span>
      <span class="teaching-right">Autumn 2020</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>

    <div class="teaching-course-line">
      <span class="teaching-left"><b>Convergence and Continuity</b>, <em>second year</em></span>
      <span class="teaching-right">Autumn 2020</span>
    </div>

    <div class="teaching-separator-small">
      <div class="teaching-line-small"></div>
    </div>
    <!--  endregion  -->
  </div>

  <h1>Other teaching activities</h1>
  <div class="teaching-other-container">

    <div class="teaching-other-line">
      <span class="teaching-left"><b>Volunteer teacher of asylum seekers</b>, <em>primary-school</em></span>
      <span class="teaching-right">2023</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>

    <div class="teaching-other-line">
      <span class="teaching-left"><b>Workshop instructor of <a class="link" href="https://www.uab.cat/web/divulgacio/dissabtes-de-les-matematiques-1195630210586.html" target="_blank">Dissabtes de les matemàtiques</a></b>, <em>high-school</em></span>
      <span class="teaching-right">2014 - 2018</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>

    <div class="teaching-other-line">
      <span class="teaching-left"><b>Volunteer teacher of students from disadvantaged households</b>, <em>high-school</em></span>
      <span class="teaching-right">2016</span>
    </div>

    <div class="teaching-separator">
      <div class="teaching-line"></div>
    </div>
  </div>
</div>
