.talks-main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 10pt;*/
  text-align: center;
}

.talks-title { }

.talks-table {
  align-self: center;
  text-align: justify;
  width: 800px;
  /*border: 1px solid;*/
}

.talks-line {
  height: 10px;
  vertical-align: center;
}

.talks-division {
  background-color: black;
  height: 1px;
  width: 800px;
}

.talks-left-column {
  /*width: 80%;*/
  /*border: 1px solid;*/
}

.talks-right-column {
  width: 125px;
  text-align: right;
  vertical-align: top;
  /*border: 1px solid;*/
}



@media (max-width: 820px) {
  .talks-table {width: 600px}
  .talks-division {width: 600px}
}

@media (max-width: 620px) {
  .talks-table {width: 400px}
  .talks-division {width: 400px}
}

@media (max-width: 420px) {
  .talks-main-container { font-size: 14px; }
  .talks-title { font-size: xx-large; }
  .talks-table {width: 350px}
  .talks-division {width: 350px}
}
