<div class="talks-main-container">
  <h1>Talks and conferences</h1>
  <table class="talks-table">
    <!--  region Group actions, Geometry and cohomology 2024  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://sites.google.com/view/gagcmanchester/home" target="_blank">Group actions, Geometry and cohomology</a></td>
      <td class="talks-right-column">July 2024</td>
    </tr>
    <tr>
      <td class="talks-left-column">University of Manchester, <em>contributed talk</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>On the sharpness conjecture for fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Summer School Interactions between Algebra, Equivariance, and Homotopy Theory 2024  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://sfb-higher-invariants.app.uni-regensburg.de/index.php?title=Page_Interactions_between_algebra_equivariance_and_homotopy_theory_Summer_School" target="_blank">Summer School Interactions between Algebra, Equivariance, and Homotopy Theory</a></td>
      <td class="talks-right-column">June 2024</td>
    </tr>
    <tr>
      <td class="talks-left-column">University of Ragensburg, <em>contributed talk</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>On the sharpness conjecture for fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Groups and Algebras in Bicocca for Young algebraists 2024  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://staff.matapp.unimib.it/~/gaby/gaby2024/index.html" target="_blank">Groups and Algebras in Bicocca for Young algebraists</a></td>
      <td class="talks-right-column">June 2024</td>
    </tr>
    <tr>
      <td class="talks-left-column">University of Milano - Bicocca, <em>contributed talk</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>On the sharpness conjecture for fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Topology, representation theory and higher structures 2024  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://www.newton.ac.uk/event/trh/" target="_blank">Topology, representation theory and higher structures</a></td>
      <td class="talks-right-column">June 2024</td>
    </tr>
    <tr>
      <td class="talks-left-column">Isaac Newton institute for mathematical sciences</td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Bilkent Topology Seminar 2024  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="http://www.fen.bilkent.edu.tr/~cvmath/seminars/2021-2022/19022024.pdf" target="_blank">Bilkent Topology Seminar</a></td>
      <td class="talks-right-column">February 2024</td>
    </tr>
    <tr>
      <td class="talks-left-column">Bilkent university, <em>invited speaker</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>Sharpness for the Benson-Solomon fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Young Homotopy-theorists Seminar 2024  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://younghomseminar.github.io/" target="_blank">Young homotopy-theorist seminar</a></td>
      <td class="talks-right-column">February 2024</td>
    </tr>
    <tr>
      <td class="talks-left-column">Online seminar, <em>invited speaker</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>On the sharpness conjecture for fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Pure maths seminar Seminar 2023  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://www.lancaster.ac.uk/maths/research/seminars/" target="_blank">Pure maths seminar</a></td>
      <td class="talks-right-column">October 2023</td>
    </tr>
    <tr>
      <td class="talks-left-column">Lancaster University, <em>internal seminar</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>On sharpness for Mackey functors over the Benson Solomon fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Algebra and number theory in conversation 2023  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://heilbronn.ac.uk/2023/06/23/algebra-and-number-theory-in-conversation/" target="_blank">Algebra and number theory in conversation</a></td>
      <td class="talks-right-column">September 2023</td>
    </tr>
    <tr>
      <td class="talks-left-column">Heilbronn institute for Mathematical Research</td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region LMS- Summer school on Geometric and Categorical Representation theory 2023  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://sites.google.com/view/geometric-and-categorical-lms/home" target="_blank">LMS- Summer school on Geometric and Categorical Representation theory</a></td>
      <td class="talks-right-column">August 2023</td>
    </tr>
    <tr>
      <td class="talks-left-column">University of Bath</td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region PGTC 2023  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://sites.google.com/view/pgtc2023/home" target="_blank">The Postgraduate Group Theory Conference</a></td>
      <td class="talks-right-column">July 2023</td>
    </tr>
    <tr>
      <td class="talks-left-column">Herriot Watt University, <em>contributed talk</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>Green correspondence for centric fused Mackey functors</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region LMS- Summer school on Geometric and Categorical Representation theory 2023  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://sites.google.com/view/ambleside2022" target="_blank">Structure of group algebras over local rings</a></td>
      <td class="talks-right-column">August 2022</td>
    </tr>
    <tr>
      <td class="talks-left-column">University of Cumbria</td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region GABY 2022  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://www.europeanwomeninmaths.org/activity/gaby-groups-and-algebras-in-bicocca-for-young-algebraists/" target="_blank">Groups and Algebras in Bicocca for Young algebraists</a></td>
      <td class="talks-right-column">June 2022</td>
    </tr>
    <tr>
      <td class="talks-left-column">University of Milano - Bicocca, <em>contributed talk</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>Green correspondence for centric fused Mackey functors</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Burnside and Mackey functors revisited 2021  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://www.lancaster.ac.uk/maths/fcg/ecr-meeting/" target="_blank">Burnside and Mackey functors revisited</a></td>
      <td class="talks-right-column">September 2021</td>
    </tr>
    <tr>
      <td class="talks-left-column">Lancaster University, <em>invited speaker</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>Mackey functors over saturated fusion systems</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Seminario virtual de topología algebraica 2021  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://sites.google.com/cimat.mx/virtualalgebaictopologyseminar/charlas-2021-ii?authuser=0&pli=1" target="_blank">Seminario virtual de topología algebraica</a></td>
      <td class="talks-right-column">August 2021</td>
    </tr>
    <tr>
      <td class="talks-left-column">Centro de Investigación en Matemàticas (CIMAT), <em>invited speaker</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>Functores de Mackey sobre sistemas de fusión</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region Geometric uses of persistent homology 2019  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="http://www.ub.edu/topologia/seminars/Persistent_2019.html" target="_blank">Geometric uses of persistent homology</a></td>
      <td class="talks-right-column">October 2019</td>
    </tr>
    <tr>
      <td class="talks-left-column">Universitat de Barcelona, <em>internal seminar</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <tr>
      <td class="talks-left-column"><em>Inferring topology through barcodes and point clouds</em></td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>

    <!--  region LMS- Summer school on Geometric and Categorical Representation theory 2023  -->
    <tr>
      <td class="talks-left-column"><a class="link" href="https://www.icmat.es/job-opportunities/introso-2023/" target="_blank">Severo Ochoa introduction to research</a></td>
      <td class="talks-right-column">September 2017</td>
    </tr>
    <tr>
      <td class="talks-left-column">Instituto de Ciencias Matemáticas</td>
      <td class="talks-right-column"></td>
    </tr>
    <!--  endregion  -->
    <tr class="talks-line"><td colspan="3"><div class="talks-division"></div></td></tr>
  </table>
</div>
