<table class="other-awards-table">
  <!--  region Departmental Prize  -->
  <tr>
    <td class="other-awards-left-column">
      <b>Departmental PhD prize in Pure Mathematics</b>,
      <em><a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a></em>
    </td>
    <td class="other-awards-right-column">2023</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-awards-line"><td colspan="2"><div class="other-awards-division"></div></td></tr>

  <!--  region Cosmo Acción  -->
  <tr>
    <td class="other-awards-left-column">
      <b>Winner team member</b>,
      <em><a class="link" href="https://cosmocaixa.org/es/p/cosmoaccion-el-valor-invisible-del-agua_c565896" target="_blank">Cosmo Acción</a></em>
    </td>
    <td class="other-awards-right-column">2019</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-awards-line"><td colspan="2"><div class="other-awards-division"></div></td></tr>

  <!--  region IMC  -->
  <tr>
    <td class="other-awards-left-column">
      <b>Silver medal</b>,
      <em><a class="link" href="https://www.imc-math.org.uk/?year=2018&section=results&item=bysum" target="_blank">IMC</a></em>
    </td>
    <td class="other-awards-right-column">2018</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-awards-line"><td colspan="2"><div class="other-awards-division"></div></td></tr>

  <!--  region COMAP  -->
  <tr>
    <td class="other-awards-left-column">
      <b>Meritorious winner team member</b>,
      <em><a class="link" href="https://www.contest.comap.com/undergraduate/contests/mcm/contests/2018/results/" target="_blank">COMAP/MCM</a></em>
    </td>
    <td class="other-awards-right-column">2018</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-awards-line"><td colspan="2"><div class="other-awards-division"></div></td></tr>

  <!--  region UphysicsC 2017  -->
  <tr>
    <td class="other-awards-left-column">
      <b>Gold medal team member</b>,
      <em><a class="link" href="http://www.uphysicsc.com/2017contest.html" target="_blank">UphysicsC</a></em>
    </td>
    <td class="other-awards-right-column">2017</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-awards-line"><td colspan="2"><div class="other-awards-division"></div></td></tr>

  <!--  region UphysicsC 2016  -->
  <tr>
    <td class="other-awards-left-column">
      <b>Gold medal team member</b>,
      <em><a class="link" href="http://www.uphysicsc.com/2016contest.html" target="_blank">UphysicsC</a></em>
    </td>
    <td class="other-awards-right-column">2016</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-awards-line"><td colspan="2"><div class="other-awards-division"></div></td></tr>

</table>
