<div class="other-events-container">
  <!--  region Departmental Prize  -->
  <div class="other-awards-row">
    <div class="other-awards-left">
      <span class="other-awards-text-container"><b>Departmental PhD prize in Pure Mathematics</b>, </span>
      <br class="other-awards-visible-under-620-only">
      <em><a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a></em>
    </div>
    <span class="other-awards-right">
      <span class="other-awards-text-container">2023</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-awards-separator"><div class="other-awards-line"></div></div>

  <!--  region Cosmo Acción  -->
  <div class="other-awards-row">
    <div class="other-awards-left">
      <span class="other-awards-text-container"><b>Winner team member</b>, </span>
      <br class="other-awards-visible-under-620-only">
      <em><a class="link" href="https://cosmocaixa.org/es/p/cosmoaccion-el-valor-invisible-del-agua_c565896" target="_blank">Cosmo Acción</a></em>
    </div>
    <span class="other-awards-right">
      <span class="other-awards-text-container">2019</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-awards-separator"><div class="other-awards-line"></div></div>

  <!--  region IMC  -->
  <div class="other-awards-row">
    <div class="other-awards-left">
      <span class="other-awards-text-container"><b>Silver medal</b>, </span>
      <br class="other-awards-visible-under-620-only">
      <em><a class="link" href="https://www.imc-math.org.uk/?year=2018&section=results&item=bysum" target="_blank">IMC</a></em>
    </div>
    <span class="other-awards-right">
      <span class="other-awards-text-container">2018</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-awards-separator"><div class="other-awards-line"></div></div>

  <!--  region COMAP/MCM  -->
  <div class="other-awards-row">
    <div class="other-awards-left">
      <span class="other-awards-text-container"><b>Meritorious winner team member</b>, </span>
      <br class="other-awards-visible-under-620-only">
      <em><a class="link" href="https://www.contest.comap.com/undergraduate/contests/mcm/contests/2018/results/" target="_blank">COMAP/MCM</a></em>
    </div>
    <span class="other-awards-right">
      <span class="other-awards-text-container">2018</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-awards-separator"><div class="other-awards-line"></div></div>

  <!--  region UPhysics 2017  -->
  <div class="other-awards-row">
    <div class="other-awards-left">
      <span class="other-awards-text-container"><b>Gold medal team member</b>, </span>
      <br class="other-awards-visible-under-620-only">
      <em><a class="link" href="http://www.uphysicsc.com/2017contest.html" target="_blank">UphysicsC</a></em>
    </div>
    <span class="other-awards-right">
      <span class="other-awards-text-container">2017</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-awards-separator"><div class="other-awards-line"></div></div>

  <!--  region UPhysics 2016  -->
  <div class="other-awards-row">
    <div class="other-awards-left">
      <span class="other-awards-text-container"><b>Gold medal team member</b>, </span>
      <br class="other-awards-visible-under-620-only">
      <em><a class="link" href="http://www.uphysicsc.com/2017contest.html" target="_blank">UphysicsC</a></em>
    </div>
    <span class="other-awards-right">
      <span class="other-awards-text-container">2016</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-awards-separator"><div class="other-awards-line"></div></div>
</div>
