.other-awards-container {
  align-self: center;
  text-align: justify;
  width: 800px;
  flex-flow: column;
}

.other-awards-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.other-awards-left { text-align: left; }
.other-awards-right { }

.other-awards-text-container { text-align: left; }

.other-awards-visible-under-620-only { display: none; }

.other-awards-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-awards-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

@media(max-width: 820px) {
  .other-awards-container{ width: 600px; }
  .other-awards-line{ width: 600px; }
  .other-awards-right-column{ width: 111px; }
}

@media(max-width: 620px) {
  .other-awards-container{ width: 400px; }
  .other-awards-line{ width: 400px; }
  .other-awards-left-column{ width: 279px;}
  .other-awards-right-column{ width: 111px;}
  .other-awards-visible-under-620-only { display: block; }
}

@media (max-width: 420px) {
  .other-awards-container { width: 350px; font-size: 14px; }
  .other-awards-right-column{ width: 104px;}
  .other-awards-left-column{ width: 236px;}
  .other-awards-line{ width: 350px; }
}
