<div class="jobs-main-container">

  <!--region Academic positions-->
  <h1 class="jobs-title">Academic positions</h1>
  <div class="jobs-container">
    <!--  region Dresden  -->
    <div class="jobs-row">
      <div class="jobs-column jobs-left-column">
        <span class="jobs-text-container jobs-bold">Postdoc</span>
        <span class="jobs-text-container"><a class="link" href="https://tu-dresden.de/" target="_blank">TU Dresden</a></span>
      </div>
      <span class="jobs-right-column">
        <span class="jobs-text-container">November 2024 - </span>
        <br class="jobs-visible-under-620-only">
        <span class="jobs-text-container">Present</span>
      </span>
    </div>
    <!--  endregion  -->
    <div class="jobs-separator"><div class="jobs-line"></div></div>
    <!--  region MFO  -->
    <div class="jobs-row">
      <div class="jobs-column jobs-left-column">
        <span class="jobs-text-container jobs-bold">Research fellow</span>
        <span class="jobs-text-container"><a class="link" href="https://www.mfo.de/" target="_blank">Oberwolfach Research Institute for Mathematics</a></span>
      </div>
      <span class="jobs-right-column">
        <span class="job-start">July 2024 - </span>
        <br class="jobs-visible-under-620-only">
        <span class="job-end">September 2024</span>
      </span>
    </div>
    <!--  endregion  -->
    <div class="jobs-separator"><div class="jobs-line"></div></div>
  </div>
  <!--endregion-->

  <!-- region Education -->
  <h1 class="jobs-title">Education</h1>
  <div class="jobs-container">
    <!--  region PhD  -->
    <div class="jobs-row">
      <div class="jobs-column education-left-column">
        <span class="jobs-bold jobs-text-container">PhD in pure mathematics</span>
        <span class="jobs-text-container"><a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a></span>
      </div>
      <div class="jobs-column education-center-column">
        <span class="jobs-bold jobs-text-container">Awarded:</span>
        <span class="jobs-bold jobs-text-container">Thesis:</span>
        <span class="jobs-bold jobs-text-container jobs-invisible jobs-visible-under-820-only">Thesis:</span>
        <span class="jobs-bold jobs-text-container">Supervisor:</span>
      </div>
      <div class="jobs-column education-right-column">
        <span class="jobs-text-container">July 2024</span>
        <span class="jobs-text-container"><a class="link" href="https://www.research.lancs.ac.uk/portal/en/publications/mackey-functors-over-fusion-systems(fdfb35c9-7a68-4edd-b6a9-868dfdcddd1a).html" target="_blank">Mackey functors over fusion systems</a></span>
        <span class="jobs-text-container"><a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza" target="_blank">Nadia Mazza</a></span>
      </div>
    </div>
    <!--  endregion  -->
    <div class="jobs-separator"><div class="jobs-line"></div></div>

    <!--  region Master  -->
    <div class="jobs-row">
      <div class="jobs-column education-left-column">
        <span class="jobs-bold jobs-text-container">MSci in advanced mathematics</span>
        <span class="jobs-text-container"><a class="link" href="https://web.ub.edu/" target="_blank">Universitat de Barcelona</a></span>
      </div>
      <div class="jobs-column education-center-column">
        <span class="jobs-bold jobs-text-container">Awarded:</span>
        <span class="jobs-bold jobs-text-container">Dissertation:</span>
        <span class="jobs-bold jobs-text-container jobs-invisible jobs-visible-under-820-only">Dissertation:</span>
        <span class="jobs-bold jobs-text-container">Supervisor:</span>
      </div>
      <div class="jobs-column education-right-column">
        <span class="jobs-text-container">August 2020</span>
        <span class="jobs-text-container"><a class="link" href="assets/TFM.pdf/" download="on_multi-parameter_persistent_homology.pdf">On multi-parameter persistent homology</a></span>
        <span class="jobs-text-container"><a class="link" href="https://mat.ub.edu/departament/professors/zarzuela-armengou-santiago/" target="_blank">Santiago Zarzuela Armengou</a></span>
      </div>
    </div>
    <!--  endregion  -->
    <div class="jobs-separator"><div class="jobs-line"></div></div>

    <!--  region Undergraduate Mathematics  -->
    <div class="jobs-row">
      <div class="jobs-column education-left-column">
        <span class="jobs-bold jobs-text-container">UG in mathematics</span>
        <span class="jobs-text-container"><a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a></span>
      </div>
      <div class="jobs-column education-center-column">
        <span class="jobs-bold jobs-text-container">Awarded:</span>
        <span class="jobs-bold jobs-text-container">Dissertation:</span>
        <span class="jobs-bold jobs-text-container jobs-invisible">Dissertation</span>
        <span class="jobs-bold jobs-text-container jobs-invisible jobs-visible-under-620-only">Dissertation:</span>
        <span class="jobs-bold jobs-text-container jobs-invisible jobs-visible-under-620-only">Dissertation:</span>
        <span class="jobs-bold jobs-text-container">Supervisor:</span>
      </div>
      <div class="jobs-column education-right-column">
        <span class="jobs-text-container">July 2018</span>
        <span class="jobs-text-container"><a class="link" href="assets/TFG_mates.pdf/" download="representation_theory_introduction_to_finite_and_Lie_cases.pdf">Representation theory,</a></span>
        <span class="jobs-text-container"><a class="link" href="assets/TFG_mates.pdf/" download="representation_theory_introduction_to_finite_and_Lie_cases.pdf"><em>introduction to finite and Lie cases</em></a></span>
        <span class="jobs-text-container"><a class="link" href="https://mat.uab.cat/~pitsch/" target="_blank">Wolfgang Pitsch</a></span>
      </div>
    </div>
    <!--  endregion  -->
    <div class="jobs-separator"><div class="jobs-line"></div></div>

    <!--  region Undergraduate Physics  -->
    <div class="jobs-row">
      <div class="jobs-column education-left-column">
        <span class="jobs-bold jobs-text-container">UG in physics</span>
        <span class="jobs-text-container"><a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a></span>
      </div>
      <div class="jobs-column education-center-column">
        <span class="jobs-bold jobs-text-container">Awarded:</span>
        <span class="jobs-bold jobs-text-container">Dissertation:</span>
        <span class="jobs-bold jobs-text-container jobs-invisible jobs-visible-under-820-only">Dissertation:</span>
        <span class="jobs-bold jobs-text-container jobs-invisible jobs-visible-under-620-only">Dissertation:</span>
        <span class="jobs-bold jobs-text-container">Supervisor:</span>
      </div>
      <div class="jobs-column education-right-column">
        <span class="jobs-text-container">July 2018</span>
        <span class="jobs-text-container"><a class="link" href="assets/TFG_fisica.pdf/" download="using_deep_learning_to_search_for_dark_matter.pdf">Using deep learning to search for dark matter</a></span>
        <span class="jobs-text-container"><a class="link" href="https://www.icrea.cat/Web/ScientificStaff/mario--martinez-perez-430" target="_blank">Mario Martínez Pérez</a></span>
      </div>
    </div>
    <!--  endregion  -->
    <div class="jobs-separator"><div class="jobs-line"></div></div>
  </div>
  <!-- endregion -->
</div>
