.jobs-main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 14px;*/
  text-align: center;
}

.jobs-container {
  align-self: center;
  text-align: justify;
  width: 800px;
  flex-flow: column;
}

.jobs-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.jobs-column {
  display: flex;
  flex-direction: column;
}

.jobs-left-column {
}

.jobs-right-column {
}

.education-left-column {
  width: 330px;
}

.education-center-column {
  width: 144px;
}

.education-right-column {
  width: 326px;
}

.jobs-text-container {
  text-align: left;
}

.jobs-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jobs-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

.jobs-bold {
  font-weight: bold;
}

.jobs-invisible {
  visibility: hidden;
}

.jobs-visible-under-820-only {
  display: none;
}

.jobs-visible-under-620-only {
  display: none;
}

@media(max-width: 820px) {
  .jobs-container{ width: 600px; }
  .jobs-line{ width: 600px; }
  .jobs-visible-under-820-only { display: block; }
}

@media(max-width: 620px) {
  .jobs-container{ width: 380px; }
  .jobs-line{ width: 380px; }
  .jobs-visible-under-620-only {display: block; }
  .jobs-left-column{ width: 170px;}
  .education-left-column { width: 320px; padding-right: 10px; }
  .education-center-column { width: 124px; padding-right: 10px; }
  /*.jobs-right-column{ width: 30%;}*/
}

