.jobs-main-container {
  display: flex;
  flex-direction: column;
  padding-left: 10pt;
  text-align: center;
}

.jobs-container {
  align-self: center;
  text-align: justify;
  width: 600pt;
  flex-flow: column;
}

.jobs-row {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.jobs-column {
  display: flex;
  flex-direction: column;
}

.jobs-left-column {
  width: 437pt;
}

.education-left-column {
  width: 236pt;
}

.education-center-column {
  width: 108pt;
}

.education-right-column {
  width: 262pt;
}

.jobs-text-container {
  text-align: justify;
}

.jobs-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jobs-line {
  background-color: black;
  height: 1px;
  width: 600pt;
}

.jobs-bold {
  font-weight: bold;
}

.jobs-invisible {
  visibility: hidden;
}

@media(max-width: 740px) { }

@media(max-width: 570px) { }

@media(max-width: 390px) { }
