<div class="jobs-main-container">

  <!--region Academic positions-->
  <h1>Academic positions</h1>
  <table class="jobs-table">
    <!--  region MFO  -->
    <tr>
      <th class="jobs-left-column">Research fellow</th>
      <td class="jobs-right-column">July 2024 - September 2024</td>
    </tr>
    <tr>
      <td>
        <a class="link" href="https://www.mfo.de/">Oberwolfach Research Institute for Mathematics</a>
      </td>
      <td></td>
    </tr>
    <!--  endregion  -->
<!--    <tr class="jobs-line"><td colspan="3"><div class="jobs-division"></div></td></tr>-->
  </table>
  <!--endregion-->

  <!-- region Education -->
  <h1>Education</h1>
  <table class="jobs-table">
    <!--  region PhD  -->
    <tr>
      <th class="education-left-column">PhD in pure mathematics</th>
      <th class="education-center-column">Awarded:</th>
      <td class="education-right-column">July 2024</td>
    </tr>
    <tr>
      <td><a class="link" href="https://www.lancaster.ac.uk/">Lancaster University</a></td>
      <th>Thesis:</th>
      <td><a class="link" href="https://eprints.lancs.ac.uk/id/eprint/221660/">Mackey functors over fusion systems</a></td>
    </tr>
    <tr>
      <td></td>
      <th>Supervisor:</th>
      <td><a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza">Nadia Mazza</a></td>
    </tr>
    <!--  endregion  -->
    <tr class="jobs-line"><td colspan="3"><div class="jobs-division"></div></td></tr>

    <!--  region Master  -->
    <tr>
      <th>MSci in advanced mathematics</th>
      <th>Awarded:</th>
      <td>August 2020</td>
    </tr>
    <tr>
      <td><a class="link" href="https://web.ub.edu/">Universitat de Barcelona</a></td>
      <th>Dissertation:</th>
      <td><a class="link" href="assets/TFM.pdf/" download="on_multi-parameter_persistent_homology.pdf">On multi-parameter persistent homology</a></td>
    </tr>
    <tr>
      <td></td>
      <th>Supervisor:</th>
      <td><a class="link" href="https://mat.ub.edu/departament/professors/zarzuela-armengou-santiago/">Santiago Zarzuela Armengou</a></td>
    </tr>
    <!--  endregion  -->
    <tr class="jobs-line"><td colspan="3"><div class="jobs-division"></div></td></tr>

    <!--  region Undergraduate Mathematics  -->
    <tr>
      <th>UG in mathematics</th>
      <th>Awarded:</th>
      <td>July 2018</td>
    </tr>
    <tr>
      <td><a class="link" href="https://www.uab.cat/">Universitat Autònoma de Barcelona</a></td>
      <th>Dissertation:</th>
      <td><a class="link" href="assets/TFG_mates.pdf/" download="representation_theory_introduction_to_finite_and_Lie_cases.pdf">Representation theory,</a></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a class="link" href="assets/TFG_mates.pdf/" download="representation_theory_introduction_to_finite_and_Lie_cases.pdf"><em>introduction to finite and Lie cases</em></a></td>
    </tr>
    <tr>
      <td></td>
      <th>Supervisor:</th>
      <td><a class="link" href="https://mat.uab.cat/~pitsch/">Wolfgang Pitsch</a></td>
    </tr>
    <!--  endregion  -->
    <tr class="jobs-line"><td colspan="3"><div class="jobs-division"></div></td></tr>

    <!--  region Undergraduate Physics  -->
    <tr>
      <th>UG in physics</th>
      <th>Awarded:</th>
      <td>July 2018</td>
    </tr>
    <tr>
      <td><a class="link" href="https://www.uab.cat/">Universitat Autònoma de Barcelona</a></td>
      <th>Dissertation:</th>
      <td><a class="link" href="assets/TFG_fisica.pdf/" download="using_deep_learning_to_search_for_dark_matter.pdf">Using deep learning to search for dark matter</a></td>
    </tr>
    <tr>
      <td></td>
      <th>Supervisor:</th>
      <td><a class="link" href="https://www.icrea.cat/Web/ScientificStaff/mario--martinez-perez-430">Mario Martínez Pérez</a></td>
    </tr>
    <!--  endregion  -->
  </table>
  <!-- endregion -->
</div>
