<table class="other-training-table">
  <!--  region MAGIC 2023  -->
  <tr>
    <td class="other-training-left-column">
      <b>Group Chohomology</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2023</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Alg Geom MAGIC 2021  -->
  <tr>
    <td class="other-training-left-column">
      <b>Algebraic Geometry</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2021</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Alg Top MAGIC 2021  -->
  <tr>
    <td class="other-training-left-column">
      <b>Algebraic Topology</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2021</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Rep theory MAGIC 2021  -->
  <tr>
    <td class="other-training-left-column">
      <b>Representation Theory</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2021</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Cat Theory MAGIC 2020  -->
  <tr>
    <td class="other-training-left-column">
      <b>Category Theory</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2020</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Comm Alg MAGIC 2020  -->
  <tr>
    <td class="other-training-left-column">
      <b>Commutative Algebra</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2020</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Lie 2020  -->
  <tr>
    <td class="other-training-left-column">
      <b>Lie Groups and Lie Algebras</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2020</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Ref groups MAGIC 2020  -->
  <tr>
    <td class="other-training-left-column">
      <b>Real and Complex Reflection Groups</b>,
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </td>
    <td class="other-training-right-column">2020</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region C*-algebras  -->
  <tr>
    <td class="other-training-left-column">
      <b>An invitation to C<sup>*</sup> algebras</b>,
      <em><a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a></em>
    </td>
    <td class="other-training-right-column">2017</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Python  -->
  <tr>
    <td class="other-training-left-column">
      <b>Complete Python course</b>,
      <em><a class="link" href="https://www.udemy.com/" target="_blank">UDEMY</a></em>
    </td>
    <td class="other-training-right-column">2016</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

  <!--  region Javascript  -->
  <tr>
    <td class="other-training-left-column">
      <b>Introduction to Javascript</b>,
      <em><a class="link" href="https://www.udemy.com/" target="_blank">UDEMY</a></em>
    </td>
    <td class="other-training-right-column">2015</td>
  </tr>
  <!--  endregion  -->
  <tr class="other-training-line"><td colspan="2"><div class="other-training-division"></div></td></tr>

</table>
