.other-training-table {
  align-self: center;
  text-align: justify;
  width: 600pt;
  /*border: 1px solid;*/
}

.other-training-line {
  height: 10px;
  vertical-align: center;
}

.other-training-division {
  background-color: black;
  height: 1px;
  width: 600pt;
}

.other-training-left-column {
  width: 70%;
  /*border: 1px solid;*/
}

.other-training-right-column {
  text-align: right;
  width: 10%;
  /*border: 1px solid;*/
}
