.other-training-container {
  align-self: center;
  text-align: justify;
  width: 800px;
  flex-flow: column;
}

.other-training-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.other-training-left { text-align: left; }
.other-training-right { }

.other-training-text-container { text-align: left; }

.other-training-visible-under-620-only { display: none; }

.other-training-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-training-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

@media(max-width: 820px) {
  .other-training-container{ width: 600px; }
  .other-training-line{ width: 600px; }
  .other-training-right-column{ width: 111px; }
}

@media(max-width: 620px) {
  .other-training-container{ width: 400px; }
  .other-training-line{ width: 400px; }
  .other-training-left-column{ width: 279px;}
  .other-training-right-column{ width: 111px;}
  .other-training-visible-under-620-only { display: block; }
}

@media (max-width: 420px) {
  .other-training-container { width: 350px; font-size: 14px; }
  .other-training-right-column{ width: 104px;}
  .other-training-left-column{ width: 236px;}
  .other-training-line{ width: 350px; }
}
