<div class="other-training-container">
  <!--  region MAGIC 2023  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Group Chohomology</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2023</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Alg Geom MAGIC 2021  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Algebraic Geometry</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2021</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Alg Top MAGIC 2021  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Algebraic Topology</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2021</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Rep Theory MAGIC 2021  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Representation Theory</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2021</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Cat Th MAGIC 2020  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Category theory</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2020</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Comm Alg MAGIC 2020  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Commutative Algebra</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2020</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Lie Grp Alg MAGIC 2020  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Lie Groups and Lie Algebras</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2020</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Reflx groups MAGIC 2020  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Real and Complex Reflection Groups</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://maths-magic.ac.uk/" target="_blank">MAGIC</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2020</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region C* algebras  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>An Invitation to C<sup>*</sup> Algebras</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2017</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Python  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Complete Python Course</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://www.udemy.com/" target="_blank">UDEMY</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2016</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>

  <!--  region Javascript  -->
  <div class="other-training-row">
    <div class="other-training-left">
      <span class="other-training-text-container"><b>Introduction to Javascript</b>, </span>
      <br class="other-training-visible-under-620-only">
      <em><a class="link" href="https://www.udemy.com/" target="_blank">UDEMY</a></em>
    </div>
    <span class="other-training-right">
      <span class="other-training-text-container">2015</span>
    </span>
  </div>
  <!--  endregion  -->

  <div class="other-training-separator"><div class="other-training-line"></div></div>
</div>
