<div>
  <div class="w3-bar w3-black w3-card top-bar">
    <span class="w3-bar-item">Marco Praderio Bova</span>
    <div class="bar-buttons">
      <span class="w3-bar-item w3-padding w3-hide-small"></span>  <!-- This is used for spacing -->
      <span [ngClass]=getOtherHeaderClass() (click)="selectOther()">More</span>
      <span [ngClass]=getTeachingHeaderClass() (click)="selectTeaching()">Teaching</span>
      <span [ngClass]=getTalksHeaderClass() (click)="selectTalks()">Talks and conferences</span>
      <span [ngClass]=getPublicationsHeaderClass() (click)="selectPublications()">Publications</span>
      <span [ngClass]="getJobsHeaderClass()" (click)="selectJobs()">Jobs and education</span>
      <span [ngClass]="getHomeHeaderClass()" (click)="selectHome()">Home</span>
    </div>
  </div>
</div>

<!-- region phantom header -->
<!-- The code below is used for padding -->
<div>
  <div class="w3-bar">
    <span class="w3-bar-item">Marco Praderio Bova</span>
    <div class="bar-buttons">
      <span class="w3-bar-item w3-padding w3-hide-small"></span>  <!-- This is used for spacing -->
      <span class="w3-bar-item w3-padding w3-hide-small">More</span>
      <span class="w3-bar-item w3-padding w3-hide-small">Teaching</span>
      <span class="w3-bar-item w3-padding w3-hide-small">Talks and conferences</span>
      <span class="w3-bar-item w3-padding w3-hide-small">Publications</span>
      <span class="w3-bar-item w3-padding w3-hide-small">Jobs and education</span>
      <span class="w3-bar-item w3-padding w3-hide-small">Home</span>
    </div>
  </div>
</div>
<!-- endregion -->

<app-home *ngIf="homeSelected"></app-home>
<app-academic-jobs-and-education *ngIf="jobsSelected"></app-academic-jobs-and-education>
<app-publications *ngIf="publicationsSelected"></app-publications>
<app-talks-and-conferences *ngIf="talksSelected"></app-talks-and-conferences>
<app-teaching *ngIf="teachingSelected"></app-teaching>
<app-additional-information *ngIf="otherSelected"></app-additional-information>
<div class="last-updated">Last updated: 05 July 2024</div>
