.bar-buttons {
  margin-left: auto;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
}

.half-width-column {
  width: 20%;
}

.third-width-column {
  width: 13%;
}

.small-width-column {
  width: 15%;
}

.large-width-column {
  width: 25%;
}

.link {
  color: #36c;
  text-decoration: none;
}

.last-updated {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.top-bar {
  position: fixed;
}

.supsub {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  font-size: small;
}
