<div class="home-main-container">
  <h1>About me</h1>
  <table class="home-table">
    <tr>
      <th class="half-width-column home-image-container">
        <img ngSrc="assets/face.jpg" alt="Marco Praderio Bova" height="345" width="275" class="face-image">
      </th>
      <td class="half-width-column">My <b>name</b> is <a class="link" href="https://www.mathgenealogy.org/id.php?id=316830">Marco Praderio Bova</a>. I am <b>currently</b> a research fellow in
        the <a class="link" href="https://www.mfo.de/">Oberwolfach Research Institute for Mathematics</a>. Prior to
        that I was a PhD student in <a class="link" href="https://www.lancaster.ac.uk/">Lancaster University</a>
        where I did my <a class="link" href="https://www.research.lancs.ac.uk/portal/en/publications/mackey-functors-over-fusion-systems(fdfb35c9-7a68-4edd-b6a9-868dfdcddd1a).html">thesis</a>
        (titled "Mackey functors over fusion systems") under the supervision of Professor
        <a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza">Nadia Mazza</a>.
      </td>
    </tr>
    <tr>
      <td colspan="2">
      My <b>research interests</b> lie in the fields of homological algebra, homotopy theory and representation theory
      with applications to group theory and related topics. Although I am open to expanding my research horizons.
      During my PhD I have studied Mackey functors over fusion systems. In particular I have proved an induction
      result similar to Green correspondence, and my latest work is focused on the study of the sharpness conjecture
      for fusion systems, which concerns the vanishing of higher limits of the cohomology functor.
    </td>
    </tr>

  </table>
  <h1>Contact information</h1>
  <table class="home-table">
    <tr>
      <th class="half-width-column">e-mail:</th>
      <td class="half-width-column">PraderioM
        <img ngSrc="assets/at.png" alt="at sign" class="at-image" height="24" width="25">
        Gmail.com
      </td>
    </tr>
    <tr class="home-line"></tr>
    <tr>
      <th class="small-width-column">address:</th>
      <td class="large-width-column">Mathematisches Forschungsinstitut Oberwolfach</td>
    </tr>
    <tr>
      <th class="small-width-column"></th>
      <td class="large-width-column">Schwarzwaldstr. 9-11</td>
    </tr>
    <tr>
      <th class="small-width-column"></th>
      <td class="large-width-column">77709 Oberwolfach-Walke</td>
    </tr>
    <tr>
      <th class="small-width-column"></th>
      <td class="large-width-column">Germany</td>
    </tr>
    <tr class="home-line"></tr>
  </table>
</div>
