<div class="home-main-container">

  <!-- region About me -->
  <h1>About me</h1>
  <div class="home-info-container">
    <!--  region introduction  -->
    <div class="home-row">
      <span class="home-image-container home-left-side">
        <img ngSrc="assets/face.jpg" alt="Marco Praderio Bova" height="345" width="275" class="home-face-image">
      </span>

      <!--  region screen over 740 text  -->
      <span class="home-text-container home-right-side introduction-740-plus">
        My <b>name</b> is <em>Marco Praderio Bova</em>. I am <b>currently</b> a <em>Postdoctoral researcher</em> at
        <a class="link" href="https://tu-dresden.de/" target="_blank">TU Dresden</a>. Prior to that I was a
        Research Fellow in the <a class="link" href="https://www.mfo.de/" target="_blank">Oberwolfach Research Institute for Mathematics</a>
        and going further back I was a PhD student in <a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a>
        where I did my <a class="link" href="https://www.research.lancs.ac.uk/portal/en/publications/mackey-functors-over-fusion-systems(fdfb35c9-7a68-4edd-b6a9-868dfdcddd1a).html" target="_blank">thesis</a>
        (titled "Mackey functors over fusion systems") under the supervision of Professor
        <a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza" target="_blank">Nadia Mazza</a>.
      </span>
      <!--  endregion  -->

      <!--  region screen between 570 and 740 text  -->
      <span class="home-text-container home-right-side introduction-570-740">
        My <b>name</b> is <em>Marco Praderio Bova</em>. I am <b>currently</b> a <em>Postdoctoral researcher</em> at
        <a class="link" href="https://tu-dresden.de/" target="_blank">TU Dresden</a>. Prior to that I was a
        Research Fellow in the <a class="link" href="https://www.mfo.de/" target="_blank">Oberwolfach Research Institute for Mathematics</a>
        and going further back I was a PhD student in <a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a>
        where I did my <a class="link" href="https://www.research.lancs.ac.uk/portal/en/publications/mackey-functors-over-fusion-systems(fdfb35c9-7a68-4edd-b6a9-868dfdcddd1a).html" target="_blank">thesis</a>
        (titled "Mackey functors over fusion systems") under the supervision of
      </span>
      <!--  endregion  -->

      <!--  region screen between 390 and 570 text  -->
      <span class="home-text-container home-right-side introduction-390-570">
        My <b>name</b> is <em>Marco Praderio Bova</em>. I am <b>currently</b> a <em>Postdoctoral researcher</em> at
        <a class="link" href="https://tu-dresden.de/" target="_blank">TU Dresden</a>. Prior to that I was a
        Research Fellow in the <a class="link" href="https://www.mfo.de/" target="_blank">Oberwolfach Research Institute for Mathematics</a>
        and going
      </span>
      <!--  endregion  -->

      <!--  region screen less than 390 text  -->
      <span class="home-text-container home-right-side introduction-390-less">
        My <b>name</b> is <em>Marco Praderio Bova</em>. I am <b>currently</b> a <em>Postdoctoral researcher</em> at
        <a class="link" href="https://tu-dresden.de/" target="_blank">TU Dresden</a>. Prior to that I was a
        Research Fellow
      </span>
      <!--  endregion  -->
    </div>
    <!--  region screen between 570 and 740 text  -->
    <div class="home-row introduction-570-740">
      <span class="home-text-container">
        Professor
        <a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza" target="_blank">Nadia Mazza</a>.
      </span>
    </div>
    <!--  endregion  -->

    <!--  region screen between 390 and 570 text  -->
    <div class="home-row introduction-390-570">
      <span class="home-text-container">
        further back I was a PhD student in <a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a>
        where I did my <a class="link" href="https://www.research.lancs.ac.uk/portal/en/publications/mackey-functors-over-fusion-systems(fdfb35c9-7a68-4edd-b6a9-868dfdcddd1a).html" target="_blank">thesis</a>
        (titled "Mackey functors over fusion systems") under the supervision of Professor
        <a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza" target="_blank">Nadia Mazza</a>.
      </span>
    </div>
    <!--  endregion  -->

    <!--  region screen less than 390 text  -->
    <div class="home-row introduction-390-less">
      <span class="home-text-container">
        in the <a class="link" href="https://www.mfo.de/" target="_blank">Oberwolfach Research Institute for Mathematics</a>
        and going further back I was a PhD student in <a class="link" href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a>
        where I did my <a class="link" href="https://www.research.lancs.ac.uk/portal/en/publications/mackey-functors-over-fusion-systems(fdfb35c9-7a68-4edd-b6a9-868dfdcddd1a).html" target="_blank">thesis</a>
        (titled "Mackey functors over fusion systems") under the supervision of Professor
        <a class="link" href="https://www.lancaster.ac.uk/maths/people/nadia-mazza" target="_blank">Nadia Mazza</a>.
      </span>
    </div>
    <!--  endregion  -->
  <!--  endregion  -->
    <!--  region research interests  -->
    <span class="home-row">
        <span class="home-text-container">
          My <b>research interests</b> lie in the fields of homotopy theory, homological algebra and representation
          theory with applications to group theory and related topics. Although I am open to expanding my research
          horizons. During my PhD I have studied Mackey functors over fusion systems. In particular I have proved an
          induction result similar to Green correspondence, and my latest work is focused on the study of the sharpness
          conjecture for fusion systems, which concerns the vanishing of higher limits of the cohomology functor.
        </span>
    </span>
    <!--  endregion  -->
  </div>
  <!-- endregion -->

  <!-- region Contact details -->
  <h1>Contact details</h1>
  <div class="home-info-container">
    <!--  region email  -->
    <div class="home-row">
      <span class="home-header home-text-container">
        e-mail:
      </span>
      <span class="home-text-container">
        marco.praderio_bova<img ngSrc="assets/at.png" alt="at sign" class="at-image" height="24" width="25">tu-dresden.de
      </span>
    </div>
    <!--  endregion  -->

    <div class="home-vertical-spacing"></div>

    <!--  region address  -->
    <div class="home-row">
      <span class="home-header home-text-container">
        address:
      </span>
      <div class="home-column">
        <span class="home-text-container">
          TU Dresden
        </span>
        <span class="home-text-container">
          Zellescher Weg. 12-14
        </span>
        <span class="home-text-container">
          01069 Dresden
        </span>
        <span class="home-text-container">
          Germany
        </span>
      </div>
    </div>
    <!--  endregion  -->
  </div>
  <!-- endregion -->

  <!-- region links -->
  <div class="links-container">
<!--    <span><a class="link" href="https://www.lancaster.ac.uk/maths/people/marco-praderio" target="_blank">Institutional webpage</a></span>-->
<!--    &nbsp;•&nbsp;-->
    <span><a class="link" href="https://www.researchgate.net/profile/Marco-Praderio-Bova" target="_blank">Research gate</a></span>
    &nbsp;•&nbsp;
    <span><a class="link" href="https://orcid.org/0000-0003-0284-877X" target="_blank">ORCID</a></span>
    &nbsp;•&nbsp;
    <span><a class="link" href="https://www.mathgenealogy.org/id.php?id=316830" target="_blank">Genealogy Project</a></span>
    &nbsp;•&nbsp;
    <span><a class="link" href="https://github.com/PraderioM" target="_blank">GitHub</a></span>
  </div>
  <!-- endregion -->
</div>
