.home-main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 10pt;*/
  text-align: center;
}

.home-info-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 670px;
}

.home-row {
  display: flex;
  align-items: stretch;
  text-align: justify;
  width: 100%;
}

.home-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-text-container {
  text-align: justify;
  width: 100%;
}

.home-left-side {
  width: 50%;
}

.home-right-side {
  width: 50%;
}

.home-header {
  font-weight: bold;
  width: 81%;
}

.home-image-container {
  text-align: center;
}

.at-image {
  height: 1em;
  width: 1em;
}

.home-face-image {
  padding-top: 5px;
  height: 170px;
  width: 130px;
}

.home-vertical-spacing {
  width: 100%;
  height: 5px;
}

.links-container {
  align-self: center;
  width: 670px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 67px;
}

.introduction-740-plus { display: block }
.introduction-570-740 { display: none }
.introduction-390-570 { display: none }
.introduction-390-less { display: none }

@media(max-width: 740px) {
  .home-info-container{ width: 500px; }
  .links-container { width: 500px; }
  .home-left-side{width: 40%;}
  .home-right-side{width: 60%;}
  .introduction-740-plus { display: none; }
  .introduction-570-740 { display: block; }
}

@media(max-width: 570px) {
  .home-info-container{ width: 350px; }
  .links-container { width: 350px; flex-flow: wrap; }
  .home-face-image {
    height: 155px;
    width: 110px;
  }
  .introduction-570-740 { display: none; }
  .introduction-390-570 { display: block; }
}

@media(max-width: 390px) {
  .home-info-container{ width: 280px; }
  .links-container { width: 280px; }
  .home-face-image {
    height: 135px;
    width: 90px;
  }
  .introduction-390-570 { display: none; }
  .introduction-390-less { display: block; }
}
