.publications-main-container {
  display: flex;
  flex-direction: column;
  padding-left: 10pt;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.publications-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 600pt;
}

.publication-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.publications-line {
  background-color: black;
  height: 1px;
  width: 600pt;
}

.publication {
  width: 600pt;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.preprint {
  width: 600pt;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
