.publications-main-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 10pt;*/
  text-align: center;
  align-items: center;
  justify-content: center;
}

.publications-title { }

.publications-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 800px;
}

.publication-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.publications-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

.publication {
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.preprint {
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

@media (max-width: 820px) {
  .publications-container { width: 600px; }
  .publications-line {width: 600px}
  .publication {width: 600px}
  .preprint {width: 600px}
}

@media (max-width: 620px) {
  .publications-line {width: 400px}
  .publication {width: 400px}
  .preprint {width: 400px}
}

@media (max-width: 420px) {
  .publications-main-container { font-size: 14px; }
  .publications-title { font-size: xx-large; }
  .publications-container { width: 350px; }
  .publications-line {width: 350px}
  .publication {width: 350px}
  .preprint {width: 350px}
}
