<div class="publications-main-container">

  <!-- region publications -->
  <h1><a class="link" href="https://orcid.org/0000-0003-0284-877X">Publications</a></h1>
  <!-- region Green correspondence for centric Mackey functors over fusion systems -->
  <div class="publication">
    <span><b>Green correspondence for centric Mackey functors over fusion systems</b></span>
    <span><em>Journal of Algebra</em>, 368C (2024), pages 279-357</span>
    <span><em>url</em>: <a class="link">https://doi.org/10.1016/j.jalgebra.2023.09.041</a></span>
  </div>
  <!-- endregion -->
  <div class="publication-separator">
    <div class="publications-line"></div>
  </div>

  <!-- region q-Carleson measures -->
  <div class="publication">
    <span><b>q-medidas de Carleson en espacios de Hardy H<sup>p</sup> y Bergman A<sub>&#x391;</sub><sup>p</sup></b></span>
    <span><em>co-authors</em>:
      <a class="link" href="https://www.researchgate.net/profile/Tanausu-Aguilar-Hernandez-2">Tanausú Aguilar</a>,
      <a class="link" href="https://www.researchgate.net/profile/Sergi-Baena">Sergi Baena</a>,
      Carlos Cruz,
      Jordi Lendínez,
      Alejandro Molero
    </span>
    <span><em>TEMat</em>, 4 (2020), pages 67-82</span>
  </div>
  <!-- endregion -->

  <!-- endregion -->

  <!-- region preprints -->
<!--  <h1>Preprints</h1>-->
<!--  <div class="publications-container">-->
<!--    <div class="preprint">-->
<!--      <span>Title</span>-->
<!--      <span>co-authors</span>-->
<!--      <span><em>submitted for publication on the ## of ### of ####</em></span>-->
<!--      <span>url: <a class="link">arXiv:####.#####</a></span>-->
<!--    </div>-->
<!--  </div>-->
  <!-- region preprints -->

</div>
