<div class="publications-main-container">

  <!-- region publications -->
  <h1 class="publications-title">Publications</h1>
  <!-- region Green correspondence for centric Mackey functors over fusion systems -->
  <div class="publication">
    <span><b>Green correspondence for centric Mackey functors over fusion systems</b></span>
    <span><em>Journal of Algebra</em>, 368C (2024), pages 279-357</span>
    <span><em>url</em>: <a class="link" href="https://doi.org/10.1016/j.jalgebra.2023.09.041" target="_blank">https://doi.org/10.1016/j.jalgebra.2023.09.041</a></span>
  </div>
  <!-- endregion -->
  <div class="publication-separator">
    <div class="publications-line"></div>
  </div>

  <!-- region q-Carleson measures -->
  <div class="publication">
    <span><b>q-medidas de Carleson en espacios de Hardy H<sup>p</sup> y Bergman A<span class="supsub"><span>p</span><span>&#x3B1;</span></span></b></span>
    <span><em>co-authors</em>:
      <a class="link" href="https://www.researchgate.net/profile/Tanausu-Aguilar-Hernandez-2" target="_blank">Tanausú Aguilar</a>,
      <a class="link" href="https://www.researchgate.net/profile/Sergi-Baena" target="_blank">Sergi Baena</a>,
      Carlos Cruz,
      Jordi Lendínez,
      Alejandro Molero
    </span>
    <span><em>TEMat</em>, 4 (2020), pages 67-82</span>
  </div>
  <!-- endregion -->
  <div class="publication-separator">
    <div class="publications-line"></div>
  </div>

  <!-- endregion -->

  <!-- region preprints -->
  <!-- region Computing higher limits over the fusion orbit category via amalgams -->
  <h1 class="publications-title">Preprints</h1>
  <div class="preprint">
    <span><b>Computing higher limits over the fusion orbit category via amalgams</b></span>
<!--      <span><em>submitted for publication on the ## of ### of ####</em></span>-->
    <span><em>url</em>: <a class="link" href="https://arxiv.org/abs/2601.14983" target="_blank">arXiv:2601.14983</a></span>
  </div>
  <!-- endregion -->
  <div class="publication-separator">
    <div class="publications-line"></div>
  </div>
  <!-- endregion -->

</div>
