.publications-main-container {
  display: flex;
  flex-direction: column;
  padding-left: 10pt;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.publications-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 600pt;
}

.publication-separator {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.publications-line {
  background-color: black;
  height: 1px;
  width: 800px;
}

.publication {
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.preprint {
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

@media (max-width: 820px) {
  .publications-line {width: 600px}
  .publication {width: 600px}
  .preprint {width: 600px}
}

@media (max-width: 620px) {
  .publications-line {width: 400px}
  .publication {width: 400px}
  .preprint {width: 400px}
}
