<div class="other-jobs-container">
  <!--  region BGA  -->
  <div class="other-jobs-row">
    <div class="other-jobs-column other-jobs-left-column">
      <span class="other-jobs-text-container other-jobs-bold">Member of IT department</span>
      <span class="other-jobs-text-container"><a class="link" href="https://www.britgo.org/" target="_blank">British Go Association</a></span>
    </div>
    <span class="other-jobs-right-column">
        <span class="other-jobs-text-container">July 2023</span>
        <br class="other-jobs-visible-under-820-only">
        <span class="other-jobs-text-container"> - Present</span>
      </span>
  </div>
  <!--  endregion  -->

  <div class="other-jobs-separator"><div class="other-jobs-line"></div></div>

  <!--  region Bee The Data  -->
  <div class="other-jobs-row">
    <div class="other-jobs-column other-jobs-left-column">
      <span class="other-jobs-text-container other-jobs-bold">Member of R&D department</span>
      <span class="other-jobs-text-container"><a class="link" href="https://www.beethedata.com/" target="_blank">Bee The Data</a></span>
    </div>
    <span class="other-jobs-right-column">
        <span class="other-jobs-text-container">August 2017</span>
        <br class="other-jobs-visible-under-820-only">
        <span class="other-jobs-text-container"> - July 2020</span>
      </span>
  </div>
  <!--  endregion  -->

  <div class="other-jobs-separator"><div class="other-jobs-line"></div></div>

  <!--  region Intern  -->
  <div class="other-jobs-row">
    <div class="other-jobs-column other-jobs-left-column">
      <span class="other-jobs-text-container other-jobs-bold">Grant awarded intern in mathematics department</span>
      <span class="other-jobs-text-container">
        <a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a>
        -
        <br class="other-jobs-visible-under-820-only">
        <a class="link" href="https://www.mecd.gob.es/redirigeme/" target="_blank">Ministerio de Educación, Cultura y Deporte</a>
      </span>
    </div>
    <span class="other-jobs-right-column">
        <span class="other-jobs-text-container">September 2016</span>
        <br class="other-jobs-visible-under-820-only">
        <span class="other-jobs-text-container"> - June 2017</span>
      </span>
  </div>
  <!--  endregion  -->

  <div class="other-jobs-separator"><div class="other-jobs-line"></div></div>

  <!--  region CERN -->
  <div class="other-jobs-row">
    <div class="other-jobs-column other-jobs-left-column">
      <span class="other-jobs-text-container other-jobs-bold">Contracted summer student</span>
      <span class="other-jobs-text-container">
        <a class="link" href="https://www.ifae.es/ca/" target="_blank">Institut de Física d'Altes Energies</a>
        -
        <br class="other-jobs-visible-under-820-only">
      <a class="link" href="https://home.cern/science/experiments/atlas" target="_blank">CERN | Atlas experiment</a></span>
    </div>
    <span class="other-jobs-right-column">
        <span class="other-jobs-text-container">June 2017</span>
        <br class="other-jobs-visible-under-820-only">
        <span class="other-jobs-text-container"> - August 2017</span>
      </span>
  </div>
  <!--  endregion  -->

  <div class="other-jobs-separator"><div class="other-jobs-line"></div></div>

</div>
