<table class="other-jobs-table">
  <!--  region BGA  -->
  <tr>
    <th class="other-jobs-left-column">Volunteering member of IT department</th>
    <td class="other-jobs-right-column">20123 - present</td>
  </tr>
  <tr>
    <td>
      <a class="link" href="https://www.beethedata.com/" target="_blank">British Go Association</a>
    </td>
    <td></td>
  </tr>
  <!--  endregion  -->
  <tr class="other-jobs-line"><td colspan="2"><div class="other-jobs-division"></div></td></tr>

  <!--  region Bee The Data  -->
  <tr>
    <th class="other-jobs-left-column">Member of R&D department</th>
    <td class="other-jobs-right-column">August 2017 - July 2020</td>
  </tr>
  <tr>
    <td>
      <a class="link" href="https://www.beethedata.com/" target="_blank">Bee The Data</a>
    </td>
    <td></td>
  </tr>
  <!--  endregion  -->
  <tr class="other-jobs-line"><td colspan="2"><div class="other-jobs-division"></div></td></tr>

  <!--  region Intern  -->
  <tr>
    <th class="other-jobs-left-column">Grant awarded intern in mathematics department</th>
    <td class="other-jobs-right-column">September 2017 - June 2018</td>
  </tr>
  <tr>
    <td colspan="2">
      <a class="link" href="https://www.uab.cat/" target="_blank">Universitat Autònoma de Barcelona</a>
      -
      <a class="link" href="https://www.mecd.gob.es/redirigeme/" target="_blank">Ministerio de Educación, Cultura y Deporte</a>
    </td>
  </tr>
  <!--  endregion  -->
  <tr class="other-jobs-line"><td colspan="2"><div class="other-jobs-division"></div></td></tr>

  <!--  region CERN  -->
  <tr>
    <th class="other-jobs-left-column">Contracted summer student</th>
    <td class="other-jobs-right-column">June 2017 - August 2017</td>
  </tr>
  <tr>
    <td>
      <a class="link" href="https://www.ifae.es/ca/" target="_blank">Institut de Física d'Altes Energies</a>
      -
      <a class="link" href="https://home.cern/science/experiments/atlas" target="_blank">CERN | Atlas experiment</a>
    </td>
    <td></td>
  </tr>
  <!--  endregion  -->
  <tr class="other-jobs-line"><td colspan="2"><div class="other-jobs-division"></div></td></tr>


</table>
